{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
  Создание новости
{% endblock %}

{% block content %}
  {% if post.author.username.id == user.id %}
    <h2>Вы действительно хотите удалить данную новость?</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <div class="table">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Автор</th>
                    <th>Заголовок</th>
                    <th>Время публикации</th>
                    <th>Тип поста</th>
                    <th>Категория</th>
                    <th>Текст</th>
                    <th>Рейтинг</th>
                  </tr>
                </thead>
                <tr>
                  <td>{{ post.author }}</td>
                  <td>{{ post.title|censor }}</td>
                  <td>{{ post.time|date:'d M Y' }}</td>
                  <td>{{ post.post_type }}</td>
                  <td>{{ post.category.all|join:', ' }}</td>
                  <td class="text-break">{{ post.text|censor }}</td>
                  <td>{{ post.rating }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <input type="submit" value="подтвердить. Удалить новость" />
    </form>
    <a href="{% url 'post_list' %}">Вернуться к списку новостей</a>
  {% else %}
    <h4>Простите, но вы не автор этой новости. Нет прав на удаление. Вернуться на <a href='{% url 'post_list' %}'>главную</a>...</h4>
  {% endif %}
{% endblock %}
